h1, h2, h3, p, blockquote, pre, body {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
    font-style: normal;
    font-variant: normal;
}

a{
    color: #2b2b2b;
}

body{
    font-size:18px;
}
#bottom-nav{
    background-color: #3CA6C9;
    margin-top: 40px;
}

.by-line{
    font-size: 16px;
    color: grey;
    text-align: left;
}

.campaign-icons{
    max-width: 30px;}

.campaign_image{
    max-width: 300px;
}

.circle{
    background: #d0d0d0;
    border-radius: 50%;
    text-align: center;
    width: 48px;
    height: 48px;
    color: #525252;
    line-height: 2.4;
    margin-left: 95px;
    min-height: 70px;
    min-width: 70px;
    text-align: center;
    font-size: 30px;
}

.control-label {
    text-align: right;
}

.desc{
    color: grey;
}

.error {
    color: orange;
    font-size: 12px;
}

ul.nav.navbar-nav.footer-nav li > a{
    color: white;
}

.form-control{
    border-radius:0px;

}

.form-group {
    padding-bottom: 25px;
}

#get-started-banner{
    background-color: #3CA6C9;
    padding-top: 20px;
    margin-top:5px;
    margin-bottom:20px;
    height: 250px;
}

H1{
    color: grey;
}

.highlighted{
    color: blue;
    font-size: 20px;
}

.highlighted-1{
    color: blue;
}

#works{
    margin-bottom:30px;
}

.helptip {
    background: url('../images/yellow-question-mark-icon.png') no-repeat;
    padding: 0;
    color: yellow;
    text-indent: -9999px;
    margin: 0;
    height: 15px;
    width: 15px;
}

.how-it-works-steps {
    border: 1px solid grey;
    margin: 5px;
    height: 28px;
    padding: 5px;
}

.icon {
    max-width: 62px;
}

.icon-2 {
    max-width: 40px;
}

.icon-3 {
    max-width: 22px;
}

.list-item{
    border:1px solid gainsboro;
    padding: 5px;
}

img {
    display: inline-block;
    vertical-align: middle;
}

#navbar-fixed-bottom, .navbar-fixed-top {
    position: relative;
}

.navbar-right{
    margin-top: 30px;
}

.navbar-default .navbar-nav > li > a{
    color:#1b6d85;
}

.navbar-brand > img{
    margin-top: 20px;
}

.required{
    color: orange;
}

.pull-left {
    float: left;
}

.support-btns{
    background-color: orange;
    color: white;
    font-size:13pt;
    margin-top: 20px;
    width: 200px;
}

.support-pledged{
    width: 200px;
}

ul{
    list-style: none;

}

ul.list-things li {
    display:inline;
    float: left;
    margin-right: 35px;
    width:220px;
    margin-bottom: 40px;
}

#ui-datepicker-div {
    z-index: 9999999!important;
}
.list-campaign-copy {
    font-size: 13px;
    height: 70px;
}
