.bg-white {
    background-color: white;
    border-bottom: 1px solid #f5f5f5;
    border-top: 1px solid #f5f5f5;
}

.campaign_image{
    max-width: 100%;
}
.thumbnail-box{
    height:460px;
}
.error {
    display: block;
}

.highlighted {
    padding: 9px 20px;
    background-color: #ffff66;
    color: #4c5667;
    margin: 8px;
    border-radius: 4px;
}

.non-highlighted{
    border: 1px solid #ccc;
    padding: 8px 20px;
    border-radius: 4px;
}

.highlighted-1{
    color: blue;
}

.icon {
    max-width: 62px;
}

.icon-2 {
    max-width: 40px;
}

.icon-3 {
    max-width: 22px;
}

/*
.pricing-column .inner-box {
    background-color: white;
}
*/

.org-description {
    border-top:1px solid #ccc; 
    margin-top:10px; 
    text-align:left; 
    padding-left: 47px;
    padding-right: 40px;
}

.organiztion-description-section {
    padding-top: 31px;
    padding-bottom: 80px;
}

.plan-duration {
    margin-bottom: 20px;
    height: 2em;
}

.plan-title {
    height: 2em;
}

.required{
    color: orange;
}

.small-note {
    font-size: 9pt;
}

.support-btns{
    background-color: orange;
    color: white;
    font-size:13pt;
    margin-top: 20px;
    width: 200px;
}

.sharebuttongap {
    width: auto;
}

.sharepoints {
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 100%;
}

.sharepoints-p {
    font-size: 11px;
    width: 350px;
}

.sharepoints-form {
    height: 28px;
}


.sharepoints-btn {
    padding: 2px 8px;
    margin-left: -27px;
}


ul{
    list-style: none;

}

ul.list-things li {
    display:inline;
    float: left;
    margin-right: 35px;
    width:220px;
    height:455px;
    margin-bottom: 40px;
}
